name: Cypress tests

on:
  workflow_dispatch:


jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true
      
      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USER }} 
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Run Docker container
        run: |
          docker compose up -d

      - name: Installl Cypress dependencies
        run: npm ci

      - name: Run Cypress tests 
        run: |
          echo "Running Cypress tests on docker container"
          npm run cy:run
          
          
