name: Cypress tests

on:
  workflow_dispatch:


jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true
      
      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USER }} 
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
